.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6278f7;
    padding: 89px;
}

.footer img {
    z-index: 1;
}

.footer .social {
    display: flex;
    gap: 34px;
}

.footer .social img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.footer section h4 {
    font-size: 20px;
    color: white;
}